<!--http://www.tinyicon.co/m/info/-->
<!--<a href="https://github.com/andrewhannebrink/photo-mosaic-video-generator/blob/master/readme.md" target="_blank">code</a>-->
<!--<a href="https://github.com/andrewhannebrink/photo-mosaic-video-generator/blob/master/readme.md" target="_blank">code</a>-->
<!--<a href="https://github.com/andrewhannebrink/Facial-Recognition" target="_blank">code</a>-->
<!--<a href="https://github.com/andrewhannebrink/blender" target="_blank">code</a>-->

<div class="wrapper">
  <div class="portfolio-menu-box"> 
    <div class="title-box">
      <h1 class="my-name">Andrew<br>Hannebrink</h1>
      <p class="tiny mission-statement">
        Full-stack engineer and consultant with experience ranging from building the world's second largest dating platform, to increasing the online presence of independent artists, small businesses, and ground-zero start-ups.
      </p>
    </div>
    <div class="main-menu">
      <div class="square size3 professional-square" 
      (click)="showSubMenu('professional')" 
      *ngIf="!hiddenMainMenuItems.professional"
      [ngStyle]="{ 'animation-delay': exitedInitialMainMenu ? '0.0s' : null}" >
        Professional
      </div>
      <div class="square size3 consulting-square" 
      (click)="showSubMenu('consulting')" 
      *ngIf="!hiddenMainMenuItems.consulting"
      [ngStyle]="{ 'animation-delay': exitedInitialMainMenu ? '0.0s' : null}" >
        Consulting 
      </div>
      <div class="square size3 front-end-square" 
      (click)="showSubMenu('frontEnd')" 
      *ngIf="!hiddenMainMenuItems.frontEnd"
      [ngStyle]="{ 'animation-delay': exitedInitialMainMenu ? '0.0s' : null}" >
        Front-End 
      </div>
      <div class="square size3 back-end-square" 
      (click)="showSubMenu('backEnd')" 
      *ngIf="!hiddenMainMenuItems.backEnd"
      [ngStyle]="{ 'animation-delay': exitedInitialMainMenu ? '0.0s' : null}" >
        Back-End 
      </div>
      <div class="square size2 image-processing-square" 
      (click)="showSubMenu('imageProcessing')" 
      *ngIf="!hiddenMainMenuItems.imageProcessing"
      [ngStyle]="{ 'animation-delay': exitedInitialMainMenu ? '0.0s' : null}" >
        Image Processing 
      </div>
      <div class="square size3 personal-projects-square" 
      (click)="showSubMenu('personalProjects')" 
      *ngIf="!hiddenMainMenuItems.personalProjects"
      [ngStyle]="{ 'animation-delay': exitedInitialMainMenu ? '0.0s' : null}" >
        Personal Projects 
      </div>
      <!--TINY SQUARES ONLY AFTER HERE -->
      <div class="square size1 home-square" (click)="showMainMenu()"></div>
      <a class="square size1 resume-icon-square" href="{{ mainMenuIconLinks.RESUME }}" target="_blank"></a>
      <a class="square size1 email-square" href="{{ mainMenuIconLinks.EMAIL }}" target="_blank"></a>
      <a class="square size1 linkedin-square" href="{{ mainMenuIconLinks.LINKED_IN }}" target="_blank"></a>
      <a class="square size1 github-square" href="{{ mainMenuIconLinks.GITHUB }}" target="_blank"></a>
      <a class="square size1 angellist-square" href="{{ mainMenuIconLinks.ANGEL_LIST }}" target="_blank"></a>
      <!--<div class="square size1 twitter-square"></div>-->
      <!--<div class="square size1 vimeo-square"></div>-->

      <!-- FILLER RECTANGLES AND SQUARES -->
      <div class="square filler-square-1" *ngIf="!hiddenMainMenuItems.filler"></div>
      <div class="square filler-square-2" *ngIf="!hiddenMainMenuItems.filler"></div>
      <div class="square filler-square-3" *ngIf="!hiddenMainMenuItems.filler"></div>
      <div class="square filler-square-4" *ngIf="!hiddenMainMenuItems.filler"></div>
      <div class="square filler-square-5" *ngIf="!hiddenMainMenuItems.filler"></div>
      <div class="square filler-square-6" *ngIf="!hiddenMainMenuItems.filler"></div>

      <!-- Make an initially hidden app-sub-menu-item component for each value in SumMenuItemsEnum -->
      <ng-container *ngFor="let subMenuItemName of possibleSubMenuItemNames">
        <app-sub-menu-item 
        class="square square-with-year size1"
        *ngIf = "checkToShowSubMenuItem(subMenuItemName)"
        [subMenuItemName] = "subMenuItemName"
        (mouseover)="hoveredSubMenuItem=subMenuItemName" (mouseleave)="hoveredSubMenuItem=null"
        [ngStyle]="getSubMenuItemStyle(subMenuItemName, currentSubMenu)"
        routerLink="{{ subMenuItemName }}">
        </app-sub-menu-item>
      </ng-container>

    </div>
  </div>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>
    <!--<header>
      <mat-toolbar color="primary">
        <a [routerLink]="['/']" class="logotTxt">MEAN</a>
        <a class="links" [routerLink]="['/posts']">Posts</a>
        <a class="links" [routerLink]="['/react']">React</a>
        <a class="links" href="/api/graphql">GraphQL browser</a>        
      </mat-toolbar>
    </header>
    <footer>
    </footer>-->
