<div class="content-title-box">
  <div class="content-title-words">
    <h1 class="content-header">{{ currentContent.displayName }}</h1>
    <div class="content-sub-title tiny">
      <ng-container *ngFor="let subTitleObj of currentContent.subTitles">
        <strong>{{ subTitleObj.subTitleType }}</strong><br>{{ subTitleObj.subTitle }}<br><br>
      </ng-container>
    </div>
  </div>
  <div class="content-title-images">
    <div class="banner" 
    [style.backgroundImage]='getCurrentBannerBackgroundImageCss()' 
    [style.backgroundRepeat]='getBannerRepeat()' 
    [style.backgroundPosition]='getBannerPosition()'></div>
    <div class="content-link-icon-row"  >
      <ng-container *ngFor="let linkObj of currentContent.links">
        <a class="content-link-icon square size1" 
        [ngClass]="getIconBackgroundClass(linkObj)" 
        href="{{ linkObj.url }}"
        target="_blank"></a>
      </ng-container>
    </div>
  </div>

</div>
<div class="content-write-up-box">
  <p [innerHTML]="currentContent.description"></p>
</div>
