<div class="content-title-box">
  <div class="content-title-words">
    <h1 class="content-header">{{ currentContent.displayName }}</h1>
    <div class="content-sub-title tiny">
        <strong>Year</strong><br>{{ currentContent.year }}<br><br>
      <strong>Scope</strong><br>{{ currentContent.scope }}<br><br>
      <strong>Technologies</strong><br>{{ currentContent.technologies }}
    </div>
  </div>
  <div class="content-title-images">
    <div class="banner" [style.backgroundImage]='getCurrentBannerBackgroundImageCss()' [style.backgroundRepeat]='getBannerRepeat()' [style.backgroundPosition]='getBannerPosition()'>
    </div>
    <div class="content-link-icon-row"  >
      <div class="content-link-icon square size1">
      </div>
      <div class="content-link-icon square size1">
      </div>
    </div>
  </div>

</div>
<div class="content-write-up-box">
  <p>{{ currentContent.description }}</p>
</div>
