//Sass variables

// Primary Color Theme
$color1: #c8472c;
$color2: #412a1e;
$color3: #f8de3c;
$color4: #fefefe;
$color5: #58acf4;
$color6: #105edd;
$color7: #0b3075;

// From MEAN.io
html, body{
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  background-color: $color4;
.example-fill-remaining-space {
  // This fills the remaining space, by using flexbox. 
  // Every toolbar row uses a flexbox row layout.
  flex: 2 2 auto;
}
header{
  width:100%;

.logotTxt{
  color: white; font-family: 'Helvetica Neue', sans-serif; font-size: 20px; font-weight: bold; letter-spacing: -1px; line-height: 1; text-align: center;
  padding: 15px;
 
}
.links
{
    color: white; font-family: 'Helvetica Neue', sans-serif; font-size: 15px; font-weight:initial; letter-spacing: -1px; line-height: 1; text-align: center; 
    padding: 15px;

}
}

@mixin semiLateAnimation {
  opacity: 0;
  animation-delay: 0.8s;
  animation-fill-mode: forwards;
}

@mixin lateAnimation {
  opacity: 0;
  animation-delay: 1.6s;
  animation-fill-mode: forwards;
}

@mixin wrapperColumnsLandscape {
  grid-template-columns: 50vw 50vw;
}

@mixin wrapperColumnsPortrait {
  grid-template-columns: 100vw;
}

@mixin mainMenuGridPropertiesPortrait {
    grid-template-columns: repeat(7, 10vw);
    grid-template-rows: repeat(9, 10vw);
    grid-gap: 3vw;
}

@mixin mainMenuGridPropertiesLandscape { 
    grid-template-columns: repeat(7, 6vh);
    grid-template-rows: repeat(9, 6vh);
    grid-gap: 2vh;
}

// My code after here //////
* { 
  margin: 0px;
  padding: 0px;
}

.wrapper {
  display: grid;
  /* Smartphones (landscape) ----------- */
  @media only screen and (min-width : 321px) {
    @include wrapperColumnsPortrait;
    grid-template-rows: auto auto;
  }
  @media (orientation: portrait) {
    @include wrapperColumnsPortrait;
    grid-template-rows: minmax(100vh, auto) auto;
  }
  /* iPads (landscape) ----------- */
  @media only screen and (min-device-width : 768px) and (orientation : landscape) {
    @include wrapperColumnsLandscape;
    grid-template-rows: 100vh;
  }
}

.main-menu {
  display: grid;
  font-weight: bold;
  margin: auto;
  //padding: auto;
  flex: 1;

  /* Smartphones (landscape) ----------- */
  @media only screen and (min-width : 321px) {
    padding-top: 20px;;
    @include mainMenuGridPropertiesPortrait;
  }
  @media (orientation: portrait) {
    padding-top: 20px;
    padding-bottom: 10px;
    @include mainMenuGridPropertiesPortrait;
  }
  /* iPads (landscape) ----------- */
  @media only screen and (min-device-width : 768px) and (orientation : landscape) {
    padding-top: 35px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 130px;
    @include mainMenuGridPropertiesLandscape;
  }
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-200px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(200px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInFromTop {
  0% {
    transform: translateY(-200px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideInFromBottom {
  0% {
    transform: translateY(200px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.medium {
  width: 100vh;
}

a {
  text-decoration: none;
  background-color: $color3;
  color: $color2
}

a:hover {
  background-color: $color5;
}

h1 { 
  color: $color1;
  font-weight: bold;
  margin: 10px;
  text-align: right;
  animation: 1s ease-in 0s 1 slideInFromLeft;
  /* Smartphones (landscape) ----------- */
  @media only screen and (min-width : 321px) {
    font-size: 8vw;
  }
  @media (orientation: portrait) {
    font-size: 8vw; 
  }
  /* iPads (landscape) ----------- */
  @media only screen and (min-device-width : 768px) and (orientation : landscape) {
    font-size: 5.5vh; 
  }
}

strong {
  font-size: 13px;
  text-decoration: underline;
}

.title-box {
  display: flex;
  flex: 1;
}

.loading-icon {
  width: 200px;
  height: 200px;
  background-image: url("../assets/img/loading.svg");
}

.square {
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: flex-end;
  padding: 5px;
  transition: background-color 0.5s ease;
  cursor: crosshair;
}

.square-with-year {
  justify-content: space-between;
}

.square:hover {  
  background-color: $color3;
}

.square:active {
  transform: translateY(3px);
}

.square-year {
  text-align: right;
}

.consulting-square {
  grid-column: 5 / 8;  
  grid-row: 2 / 5;
  background-color: $color3;
  color: $color2;
  animation: 1s ease-in 0s 1 slideInFromRight;
  @include semiLateAnimation;
}

.consulting-square:hover {
  background-color: $color5;
}

.professional-square {
  background-color: $color1;
  color: $color4;
  grid-column: 2 / 5;  
  grid-row: 1 / 4;
  animation: 1s ease-in 0s 1 slideInFromRight;
  @include semiLateAnimation;
}

.front-end-square {
  background-color: $color7;
  color: $color4;
  grid-column: 1 / 3;  
  grid-row: 4 / 7;
  animation: 1s ease-in 0s 1 slideInFromLeft;
  @include semiLateAnimation;
}

.front-end-square:hover {
  background-color: $color5;
}

.back-end-square {
  background-color: $color2;
  color: $color3;
  grid-column: 3 / 5;  
  grid-row: 4 / 7;
  animation: 1s ease-in 0s 1 slideInFromLeft;
  @include semiLateAnimation;
}

.back-end-square:hover {
  background-color: $color5;
}

.image-processing-square {
  background-color: $color5;
  color: $color2;
  grid-column: 5 / 7;  
  grid-row: 5 / 7;
  animation: 1s ease-in 0s 1 slideInFromRight;
  @include semiLateAnimation;
}

.personal-projects-square {
  background-color: $color3;
  color: $color1;
  grid-column: 1 / 4;  
  grid-row: 7 / 10;
  animation: 1s ease-in 0s 1 slideInFromLeft;
  @include semiLateAnimation;
}

.personal-projects-square:hover {
  background-color: $color5;
}

.filler-square-1 {
  background-color: $color1;
  grid-column: 7 / 8;
  grid-row: 5 / 10;
  animation: 1s ease-in 0s 1 slideInFromRight;
  @include semiLateAnimation;
}

.filler-square-2 {
  background-color: $color5;
  grid-column: 4 / 7;  
  grid-row: 9 / 10;
  animation: 1s ease-in 0s 1 slideInFromBottom;
  @include semiLateAnimation;
}

.filler-square-3 {
  background-color: $color7;
  grid-column: 4 / 5;
  grid-row: 7 / 9;
  animation: 1s ease-in 0s 1 slideInFromBottom;
  @include semiLateAnimation;
}

.filler-square-4 {
  background-color: $color2;
  grid-column: 5 / 7;
  grid-row: 7 / 8;
  animation: 1s ease-in 0s 1 slideInFromBottom;
  @include semiLateAnimation;
}

.filler-square-5 {
  background-color: $color3;
  grid-column: 6 / 7;
  grid-row: 8 / 9;
  animation: 1s ease-in 0s 1 slideInFromBottom;
  @include semiLateAnimation;
}

.filler-square-5:hover {
  background-color: $color5
}

.filler-square-6 {
  background-color: $color1;
  grid-column: 5 / 6;
  grid-row: 8 / 9;
  animation: 1s ease-in 0s 1 slideInFromBottom;
  @include semiLateAnimation;
}

.emoji-data-visualizer-square {
}

.twitter-bot-square {
}

.photo-mosaic-video-square {
}

.tinyicon-square {
}

.three-d-scripting-square {
}

.face-recognition-square {
}

.dhcp-lease-mgmt-square {
}

.access-point-monitoring-square {
}

.home-square {
  background-color: $color3;
  background-image: url("../assets/img/home.svg");
  animation: 1s ease-in 0s 1 slideInFromTop;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  @include semiLateAnimation;
}

.home-square:hover {
  background-color: $color5;
}

.resume-icon-square {
  background-color: $color5;
  background-image: url("../assets/img/resume.svg");
  animation: 1s ease-in 0s 1 slideInFromTop;
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  @include semiLateAnimation;
}

.linkedin-square {
  grid-column: 5 / 6;
  grid-row: 1 / 2;
  background-color: $color7;
  background-image: url("../assets/img/linkedin.svg");
  animation: 1s ease-in 0s 1 slideInFromRight;
  @include semiLateAnimation;
}

.github-square {
  grid-column: 6 / 7;
  grid-row: 1 / 2;
  background-color: $color2;
  background-image: url("../assets/img/github.svg");
  animation: 1s ease-in 0s 1 slideInFromRight;
  @include semiLateAnimation;
}

.angellist-square {
  grid-column: 7 / 8;
  grid-row: 1 / 2;
  background-color: $color7;
  background-image: url("../assets/img/angellist.svg");
  animation: 1s ease-in 0s 1 slideInFromRight;
  @include semiLateAnimation;
}

.twitter-square {
  background-color: $color5;
  background-image: url("../assets/img/twitter.svg");
  animation: 1s ease-in 0s 1 slideInFromRight;
  @include semiLateAnimation;
}

.vimeo-square {
  background-color: $color5;
  background-image: url("../assets/img/vimeo.svg");
  animation: 1s ease-in 0s 1 slideInFromBottom;
  @include semiLateAnimation;
}

.email-square {
  background-color: $color1;
  background-image: url("../assets/img/email.svg");
  animation: 1s ease-in 0s 1 slideInFromTop;
  grid-column: 1 / 2;
  grid-row: 3 / 4;
  @include semiLateAnimation;
}

.portfolio-menu-box {
  background-color: $color4;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  /* Smartphones (landscape) ----------- */
  @media only screen and (min-width : 321px) {
    height: auto;
  }
  @media (orientation: portrait) {
    height: auto;
  }
  /* iPads (landscape) ----------- */
  @media only screen and (min-device-width : 768px) and (orientation : landscape) {
    height: 100vh;
  }
}

.my-name {
  flex: 2;
}
.mission-statement {
  flex: 1;
  border-left: 5px solid $color1;
  min-height:100px;
  animation: 1s ease-in 0s 1 slideInFromTop;
}

.tiny {
  color: $color1;
  padding: 5px;
  font-size: 11px;
  margin: 5px;
}

#content {
  background-color: $color4;
  padding: 20px;
  padding-top: 90px;
  overflow: scroll;
  animation: 1s ease-in 0s 1 slideInFromRight;
  @include lateAnimation;

  /* Smartphones (landscape) ----------- */
  @media only screen and (min-width : 321px) {
  }
  @media (orientation: portrait) {
  }
  /* iPads (landscape) ----------- */
  @media only screen and (min-device-width : 768px) and (orientation : landscape) {
    border-left: 15px solid $color1;
  }
}

#content .square {
  margin-bottom: 15px;
}

#content p {
  white-space: pre-wrap;
  font-size: 18px;
  line-height: 2;
  color: $color1;
  /* Smartphones (landscape) ----------- */
  @media only screen and (min-width : 321px) {
    padding: 15px;
    margin-top: 15px;
    margin-left: 0px;
    border-left: 5px solid $color1;
  }
  @media (orientation: portrait) {
    padding: 0px;
    margin-top: 15px;
    margin-left: 0px;
    border: none;
  }
  /* iPads (landscape) ----------- */
  @media only screen and (min-device-width : 768px) and (orientation : landscape) {
    padding: 15px;
    margin-top: 45px;
    margin-left: 15px;
    border-left: 5px solid $color1;
  }
}

.content-header {
  white-space: pre-wrap;
}

.content-title-box {
  display: flex;
  flex-direction: row;
}

.content-sub-title {
  text-align: right;
  animation: 1s ease-in 0s 1 slideInFromTop;
}

.content-title-words {
  flex: 1;
}

.content-title-images {
  display: flex;
  flex-direction: column;
  flex: 3
}

.banner {
  height: 300px;
  border: 5px solid $color1;
  animation: 1s ease-in 0s 1 slideInFromRight;
}

.content-link-icon-row {
  display: flex;
}

.content-link-icon {
  padding: 0px !important;
  margin: 15px;
  margin-left: 0px;
  animation: 1s ease-in 0s 1 slideInFromRight;
  /* Smartphones (landscape) ----------- */
  @media only screen and (min-width : 321px) {
    height: 10vw;
    width : 10vw;
  }
  @media (orientation: portrait) {
    height: 10vw;
    width : 10vw;
  }
  /* iPads (landscape) ----------- */
  @media only screen and (min-device-width : 768px) and (orientation : landscape) {
    height: 6vh;
    width : 6vh;
  }
}

.services-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.services-flex:hover {
  background-color: $color5 !important;
}

.services-flex-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding-right: 10px;
}

.full-stack-border {
  border-right: 5px solid $color3;
}

.creative-border {
  border-right: 5px solid $color4;
}

.consulting-border {
  border-right: 5px solid $color2;
}

.services-big-icon {
  background-size: cover;
  height: 100px;
  width: 100px;
}

.consulting-icon {
  background-image: url("../assets/img/handshake.svg");
}

.full-stack-icon {
  background-image: url("../assets/img/full-stack.svg");
}

.creative-icon {
  background-image: url("../assets/img/brain.svg");
}

.services-sub-statement {
  margin-left: 10px;
  flex: 2;
}

.services-full-stack {
  background-color: $color7;
  color: $color3;
}

.services-consulting {
  background-color: $color3;
  color: $color2;
}

.services-creative {
  background-color: $color1;
  color: $color4;
}

.live-link-icon {
  background-color: $color1;
  background-image: url("../assets/img/link.svg");
}

.github-icon {
  background-color: $color2;
  background-image: url("../assets/img/github.svg");
}

.twitter-icon {
  background-color: $color5;
  background-image: url("../assets/img/twitter.svg");
}

.vimeo-icon {
  background-color: $color5;
  background-image: url("../assets/img/vimeo.svg");
}

.content-write-up-box {
  animation: 1s ease-in 0s 1 slideInFromBottom;
}

.size1 {
  background-size: cover;
  /* Smartphones (landscape) ----------- */
  @media only screen and (min-width : 321px) {
    font-size: 3.0vw;
  }
  @media (orientation: portrait) {
    font-size: 3.0vw;
  }
  /* iPads (landscape) ----------- */
  @media only screen and (min-device-width : 768px) and (orientation : landscape) {
    font-size: 1.7vh;
  }
}

.size2 {
  /* Smartphones (landscape) ----------- */
  @media only screen and (min-width : 321px) {
    font-size: 3.9vw;
  }
  @media (orientation: portrait) {
    font-size: 3.9vw;
  }
  /* iPads (landscape) ----------- */
  @media only screen and (min-device-width : 768px) and (orientation : landscape) {
    font-size: 2.2vh;
  }
}

.size3 {
  font-weight: bold;
  /* Smartphones (landscape) ----------- */
  @media only screen and (min-width : 321px) {
    font-size: 5.5vw;
  }
  @media (orientation: portrait) {
    font-size: 5.5vw;
  }
  /* iPads (landscape) ----------- */
  @media only screen and (min-device-width : 768px) and (orientation : landscape) {
    font-size: 3.3vh;
  }
}

}
